<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="app" ng-controller="AppController">

<div my-form decl-transclude>
    <my-form-title>This is a title from outer scope</my-form-title>
    <my-form-info ng-if="!$form.$valid">The form is invalid!</my-form-info>
    <my-form-help-text or-default-if="someStaticCondition()">This will only show when someStaticCondition() is false</my-form-help-text>
    <my-form-button-title>Yes!</my-form-button-title>
</div>

<hr/>
<form name="aForm">
    <input an-input type="text" ng-model="higgs.model" required>
</form>
<p ng-show="aForm.$invalid">Enter a value to make the form valid!</p>
<p ng-show="aForm.$valid">This input is transcluded and still keeps connected to the form.</p>
<hr/>

<div decl-transclude some-directive>
    <button ng-click="doIt()" decl-transclude-as="foo">Do it</button>
    <div decl-transclude-as="bar">
        something is {{$some.name}} with id {{$some.id}} <br>
        <input type="text" ng-model="$some.name"/>
        <br>
        <div other-directive="parts.a"></div>
    </div>
    <div>plain old transclude</div>
</div>

<script src="../bower_components/angular/angular.js"></script>
<script type="application/javascript" src="../decl-transclude.js"></script>
<script type="application/javascript" src="app.js"></script>
</body>
</html>